[build-system]
requires = ["setuptools >= 61.0", "setuptools-scm", "wheel >= 0.38"]
build-backend = "setuptools.build_meta"

[project]
name = "mahjongtilasto"
version = "2025.01.22.0"
description = "Yksinkertainen pistetilastojen hallinnointikirjasto"
readme = "README.md"
authors = [
  {name = "Pilperi"},
]
maintainers = [
  {name = "Pilperi"}
]
requires-python = ">=3.8"
dependencies = ["PyQt5"]


[project.scripts]
mahjongtilasto = "mahjongtilasto.main:main"
